body {
    color: #000;
    background: #FFF;
}

/* LAYOUT */
.post .date, .quote .date, .bookmark .date {
    float: left;
    padding: .3em .4em .3em 1.2em;
    background: #00733E;
    margin: 0.3em 0  0 -6.0em;
    width: 3.8em;
    color: #FFF;
}

.post .teaser{
    border-bottom: solid .2em #00733E;
}

div#body {
    font-family: GillSans, Garamond, ?Hoefler Text?, ?Times New Roman?, Times, serif;
}

div#body p {
    margin-bottom: 1.5em;
}

/* TYPE */

h4 {
    margin-top: .1em;
    color: #000;
}

#right-rail p, #right-rail ul{
    color: #000;
}

#right-rail h4 {
    width: 100%;
    border-bottom: 1px solid #CCC;
    padding-bottom: .1em;
}

/* LINKS */

a:link, a:visited {
    color: #00733E;
}

a:hover {
    color: #00733E;
}

h2 {
    padding-bottom: .5em;
}

h2 a:link, h2 a:visited { 
    color: #000;
}

h2 a:hover {
    color: #000;
}

pre { 
    background-color: #222;
    border: 4px solid #888;
    font-style: monospace;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

ul.recent-posts li
{
    color: #633709;
}

.post li{ color: #fff;}

ul.navbar-one {
    margin-left: 0;
    padding-left: 1px;
}
